<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Start Page</title>
</head>
<body>
    <div id="root2">
        <h1>Welcoming to the demo flask app !!!!</h1>
        <h1>1. on <a href="/admin">/admin</a> route we have a portal that can be used for changing the word in the DB</h1>
        <h1>2. on <a href="/api/word">/api/word</a> route we could fetch the word from the DB</h1>
    </div>
</body>
</html>